body, html {
    height: 100%;
    margin: 0;
    font-size: 16px;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    line-height: 1.8em;
    color: #666;
}

.pimg1, .pimg2, .pimg3, .pimg4 {
    position: relative;
    opacity: 0.70;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    /*
    Fixed = parallax
    scroll = normal
    */
    background-attachment: fixed;
}

.pimg1 {
    background-image: url(img/aditya_sunglasses.jpg);
    min-height: 100%;
}

.pimg2 {
    background-image: url(img/image2.jpg);
    min-height: 400px;
}

.pimg3 {
    background-image: url(img/image3.jpeg);
    min-height: 400px;
}

.pimg4 {
    background-image: url(img/image4.jpeg);
    min-height: 400px;
}

.section {
    text-align: center;
    padding: 50px 80px
}

.section-light {
    background-color: #f4f4f4;
    color: #666;
}

.section-dark {
    background-color: #282e34;
    color: #ddd;
}

.ptext {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    color: #000;
    font-size: 27px;
    letter-spacing: 8px;
    text-transform: uppercase
}

.ptext .border {
    background-color: #111;
    color: #fff;
    padding: 20px
}

.ptext .border.trans {
    background-color: transparent;
}

.ptext .border.dark {
    background-color: transparent;
    color: #000;
}

.social {
    display: inline-block;
    text-align: center;
    width: 200px;
    height: 45px;
}

#header-linkedin {
    margin-left: -40px;
    text-align: left;
}

#header-twitter {
    margin-left: 0px;
    text-align: left
}

#header-googleplus {
    margin-left: 60px;
    text-align: left;
}


#linkedin {
    margin: 0px 50px 0px -150px;
    width: 100px;
}

#twitter {
    margin: 0px 50px 0px -50px;
    width: 100px
}

#googleplus {
    margin: 0px 50px 0px 50px;
    width: 100px;
}

/*Footer*/
footer {
    padding: 20px;
    background-color: #367391;
    text-align: center;
    color: white;
    margin-top: 100px;
}

#hobby_list {
    text-align: left;
}

@media (max-width: 568px;){
    .pimg1, .pimg2, .pimg3{
        background-attachment: scroll;
    }
}
p {

}
